<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>hello from the projects page</h1>

    <div class="container w-100">
        <nav class="navbar navbar-expand-lg">
            <ul class="nav w-100 mr-auto">
                <li class="nav-item active">
                    <a href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a href="/projects">|  Projects  | </a>
                </li>
                <li class="nav-item active">
                    <a href="/contacts">Contacts</a>
                </li>
            </ul>
        </nav>

        <div class="row">
                <div class="col">
                    <img src="images/footballguy.jpg" alt="Responsive image" class="">
                </div>
                <div class="col">
                    <h2>h1 heading</h2>
                    <p>text caption 1</p>
                </div>
                    <div class="col">
                    <img src="images/footballguy.jpg" alt="Responsive image" class="">
                </div>
                <div class="col">
                    <h2>h1 heading</h2>
                    <p>text caption 1</p>
                </div> 
                    <div class="col">
                    <img src="images/footballguy.jpg" alt="Responsive image" class="">
                </div>
                <div class="col">
                    <h2>h1 heading</h2>
                    <p>text caption 1</p>
                </div>  
        </div>
        
    </div>

</body>
</html>